language: java

jdk:
  - openjdk8

services:
  - docker

before_install:
  - cd docker/dev
  - docker-compose up -d
  - docker ps -a

before_script:
  - cd ../../src

script:

  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean verify -P test-consumer,test-business sonar:sonar -Dsonar.login=e4fae6821e5e75d4dc8c4ca75cb4ff61ce187341
  - cd ../docker/dev
  - docker-compose stop
  - docker-compose rm -f
  - docker-compose up -d
  - docker ps -a
  - cd ../../src


notifications:
  email: false

addons:
  sonarcloud:
    organization: "benoitdu53"
    token:
      secure: travis encrypt 03e8fc18133d3055fe05af0a36d2b47cfbce275b